body {
  padding-top: 70px !important;
}

.article-list {
  display: flex;
  flex-direction: column;
  align-items:  stretch;
  justify-content: flex-start;
  max-width: 800px;
  max-height: 90vh;
  overflow-y: scroll;
  margin: auto;
}

#twitter-box {
  height: 350px;
  width: 320px;
  margin: auto;
  overflow-y: scroll;
  z-index: 100000;
}

.navbar-right {
  padding-right: 20px !important;
}

#quotes-box {
  width: 300px;
  height: 170px;
  border: 2px solid black;
  text-align: center;
  background-color: rgba(0,0,0,1);
}

#quotes-box p {
  color: white;
  margin-top: 14%;
  margin-left: 10px;
  margin-right: 10px;
}

.right-list {
width: 400px;
height: 600px;
text-align: center;
align-self: center;
}*/
